* {
  margin: unset;
  padding: unset;
  font-family: sans-serif;
}

html,
body {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  justify-content: center;
  background-color: #0c77e3;
  margin-top: 50px;
}

.search-box {
  width: 50px;
  height: 60px;
  position: relative;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
  width: 350px;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 0px 0 10px;
  font-size: 18px;
  outline: none;
  position: relative;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: -4px 13px 15px rgba(0, 0, 0, 0.5);
  color: #01376c;
}
.search-box input::placeholder {
  color: #01376c;
  transition: 0.4s;
}
.search-box input:focus::placeholder {
  opacity: 0;
}
.search-box input.active {
  opacity: 1;
}

.search-box .search-btn {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  color: #0c77e3;
  font-size: 25px;
  cursor: pointer;
  z-index: 1;
  box-shadow: -4px 13px 15px rgba(0, 0, 0, 0.5);
}

.search-box .search-btn.active {
  top: 50%;
  right: -5px;
  width: 50px;
  color: #fff;
  height: 50px;
  background-color: #0c77e3;
  line-height: 50px;
  font-size: 20px;
}

.search-box .cancel-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.5s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  border-radius: 50px;
  background-color: transparent;
}

.search-box .cancel-btn.active {
  right: -60px;
}
